html { font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.sub { font-size: 1.6rem; }

.bot { margin-bottom: 2rem; }