.content { padding-top: 2rem; }

.mg { margin: 1rem 0; }

.group { width: 30rem; }

.btn {
  color: #fff;
  background-color: #2998ff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3px;
}

.item {
  display: inline-block;
  font-size: 1.2rem;
  width: 15rem;
  height: 15rem;
  position: relative;
  margin: 1rem;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.meme {
  width: 15rem;
  height: 15rem;
  border-radius: 3px;
  object-fit: cover;
  filter: brightness(50%);
}

.meme:hover {
  transition: 1s;
  filter: brightness(10%);
}

.text {
  width: 13rem;
  border-radius: 3px;
  margin: 1rem;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}

.input {
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(#fff, 0.5);
  border: none;
  border-bottom: 2px solid #2998ff;
  width: 100%;
}

.picture {
  display: inline-block;
  margin: 0.5rem;
  width: 22rem;
  border-radius: 3px;
}