.content { padding: 2rem 0; }

.btn {
  color: #fff;
  background-color: #2998ff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3px;
  margin: 2rem 0;
}

.item {
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}